version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.15.3
  aws-cli: circleci/aws-cli@2.0.0            
workflows:
    build_and_push image:
      jobs:         
        - aws-ecr/build-and-push-image:
            account-url: AWS_ECR_ACCOUNT_URL
            extra-build-args: "--build-arg BUILDMODE='543'"
            aws-access-key-id: AWS_ACCESS_KEY_ID
            aws-secret-access-key: AWS_SECRET_ACCESS_KEY
            create-repo: true
            dockerfile: Dockerfile
            path: .
            region: AWS_REGION
            repo: eschool-frontend
            tag: "latest,v0.1.$CIRCLE_BUILD_NUM" 
#             executor: ubuntu20
#             filters:
#               branches:
#                 only:
#                   - evaluate-symfony-testing

# executors:
#   ubuntu20:
#     machine:
#       image: ubuntu-2004:202101-01

# orbs:
#   aws-ecr: circleci/aws-ecr@6.7.0
#   aws-cli: circleci/aws-cli@2.0.0

# workflows:
#   build_and_push_image:
#     jobs:
#       - aws-ecr/build-and-push-image:
#           account-url: AWS_ECR_ACCOUNT_URL
#           aws-access-key-id: AWS_ACCESS_KEY_ID
#           aws-secret-access-key: AWS_SECRET_ACCESS_KEY
#           create-repo: true
#           dockerfile: Dockerfile
#           path: .
#           region: AWS_REGION
#           repo: eschool_backend
#           tag: "$CIRCLE_BUILD_NUM"

