version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.7.0
  
jobs:
    build:
      working_directory: ~/eschool_fe
      # Use prebuild docker container for node js
      docker:
        - image: circleci/node:10-browsers
      steps:
        # Checkout the code from the branch into the working_directory
        - checkout
        # Log the current branch
        - run:
            name: Show current branch
            command: echo ${CIRCLE_BRANCH}
        - run:
            name: Edit source files for our environment
            command: |
              sed -i -e "s|https://fierce-shore-32592.herokuapp.com|http://$LOAD_BALANCER|g" \
              ./src/app/services/token-interceptor.service.ts 
        - run:
            name: Install PIP
            command: sudo apt-get install python-pip python-dev
        - run:
            name: Install awscli
            command: sudo pip install awscli    
   
        - run:
            name: Configure AWS Access Key ID
            command: |
              aws configure set aws_access_key_id \
              $AWS_ACCESS_KEY_ID \
              --profile default
        - run:
            name: Configure AWS Secret Access Key
            command: |            
              aws configure set aws_secret_access_key \
              $AWS_SECRET_ACCESS_KEY \
              --profile default

        - run:
            name: Configure AWS default region
            command: |              
                aws configure set region $AWS_DEFAULT_REGION \
                --profile default
              
        - run:
            name: Verify AWS config
            command: |
              echo $PATH
              aws --version             
              aws configure list --profile default
workflows:
  version: 2

  build_and_deploy:
    jobs:
      - build          
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          create-repo: true
          dockerfile: Dockerfile
          path: .
          region: AWS_REGION
          repo: eschool_frontend
          tag: "latest,v0.1.$CIRCLE_BUILD_NUM"
          requires:
            - build
          # Only deploy on the master branch
          filters:
            branches:
              only: circleci-project-setup

# orbs:
#   aws-ecr: circleci/aws-ecr@6.7.0
#   aws-cli: circleci/aws-cli@2.0.0

# workflows:
#   build_and_push_image:
#     jobs:
#       - aws-ecr/build-and-push-image:
#           account-url: AWS_ECR_ACCOUNT_URL
#           aws-access-key-id: AWS_ACCESS_KEY_ID
#           aws-secret-access-key: AWS_SECRET_ACCESS_KEY
#           create-repo: true
#           dockerfile: Dockerfile
#           path: .
#           region: AWS_REGION
#           repo: eschool_backend
#           tag: "$CIRCLE_BUILD_NUM"

