version: 2

jobs:
  build:
   machine: true
   steps:
     - checkout
    #  - run: sed -i -e "s|https://fierce-shore-32592.herokuapp.com|http://$LOAD_BALANCER|g" \
    #           ./src/app/services/token-interceptor.service.ts

     # build the application image
     - run: docker build -t t:v --build-arg ARG="http://$BASEURL" .
     - run:
        name: Create artifacts
        command: tar -czf "eschool_fe.tar.gz" -C /usr/share/nginx/html .
        # Store the an artifact
     - store_artifacts:
          path: eschool_fe.tar.gz
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          # only deploy once build job has completed
          requires:
            - build
          # Only deploy on the master branch
          filters:
            branches:
              only: circleci-project-setup